
.header__icon .icon {
  height: 2rem;
  fill: none;
  vertical-align: middle;
  color: black;
}

header{
  .header__icon--account, .header__icon--cart, .icon-search{
 
  width: 3rem;
  color: 00000000;
}

.list-menu__item {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  font-size: 20px;
  color: #000000;
}

.disclosure{
  span{
    font-size: 16px;
  }
}
}
sticky-header{
  .header__heading-logo{
    border-radius: 5px;
  }

 
    .header__inline-menu{
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            
            
            li {
              margin-right: 10px;
          
        
              &:last-child {
                margin-right: 0;
              }
  
              align-items: center;
              padding: 1.2rem;
             
              a {
                text-decoration: none;
                color: #333;
                transition: color 0.3s;
        
                &:hover {
                  color: #007bff; /* Change color on hover */
                }
              }
            }
          }
        
    }
}.page-width {
    max-width: unset;
    /* margin: 0 auto; */
   
}
.section-header{
    .navigation {
        ul {
          list-style-type: none;
          margin: 0;
          display: flex;
          
          
          li {
            margin-right: 10px;
        
      
            &:last-child {
              margin-right: 0;
            }

            align-items: center;
            padding: 1.2rem;
            a {
              text-decoration: none;
              color: #333;
              transition: color 0.3s;
      
              &:hover {
                color: #007bff; /* Change color on hover */
              }
            }
          }
        }
      }
}


@media (max-width: 414px) and (min-height: 896px) {
  .section-header .navigation ul {
    display: list-item;
  }
}