
.featured-product{
    .product__info-container{
        .product__title {
            word-break: break-word;
            margin-bottom: 1.5rem;
            margin-top: 100px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
}


.featured-product:not(.product--no-media)>.product__info-wrapper {
    padding: 0 7rem;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 20px;
}


@media screen and (max-width: 850px){
.section-header .navigation ul li a {
    text-decoration: none;
    color: #333;
    transition: color .3s;
}
}

@media only screen and (min-width: 390px) and (max-width: 390px) and (min-height: 844px) and (max-height: 844px) {
    .section-header .navigation ul li a {
        text-decoration: none;
        color: #555; /* Custom color for iPhone 12 Pro */
        padding: 10px; /* Custom padding for iPhone 12 Pro */
        transition: color .3s;
    }
}


