.section-template--17561951043836__custom_liquid_cr8UH9-padding{
    height:500px;

  
}
.featured-product{
    .product__info-container{
        .product__title {
            word-break: break-word;
            margin-bottom: 1.5rem;
            margin-top: 100px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
}

@media screen and (max-width: 750px){
.section-header .navigation ul li a {
    text-decoration: none;
    color: #333;
    transition: color .3s;
}
}